html {
	font-size: 18px;
}
body {
	line-height: 1.4;
	margin: 0;
}
.container {
	max-width: 960px;
	margin: auto;
}
header {
	padding-top: 1rem;
	background: url("../images/glasses-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;	
}
header .flex {
	display: flex;
    justify-content: flex-end;
}
nav {
	padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin:1rem auto;
	background-color: #5F9EA0;
	color: white;
}
nav div {
    display: flex;
    align-items: center;
}
nav img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}
ul li {
    display: inline;
    padding: 0px 1rem;
}
.mobile-menu {
    display: none;
}
.main-banner {
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 1.2rem;
}
.services {
	display: flex;
	justify-content: center;
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
}
.service img {
    width: 5rem;
    margin-bottom: 1rem;
}
.service .paper{
	width: 3.5rem;
}
.philosophy-appointment {
	display: flex;
	justify-content: center;	
}
.info {
	width: 35%;
	margin-right: 5%;
	margin-bottom: 5rem;
}
.title {
	background-color: #5F9EA0;
	color: white;
	width: 10rem; 
	padding: 0.5rem 1.25rem;
}
footer {
	background-color: #f0ffff;
	display: flex;
    align-items: center;
    padding: 4rem 2rem;
    font-weight: bold;
    font-size: 1rem;
}
footer img {
	height: 1.5rem;
	margin-left: 2rem;
    margin-right: 1rem;
}