html {
	font-size: 18px;
}
body {
	line-height: 1.4;
	margin: 0;
}
.container {
	max-width: 960px;
	margin: auto;
}
header {
	padding-top: 1rem;
	background: url("../images/glasses-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30rem;	
}
header .flex {
	display: flex;
    justify-content: flex-end;
}
nav {
	padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: #5F9EA0;
	color: white;
}
nav div {
    display: flex;
    align-items: center;
}
nav img {
	height: 1.5rem;
	padding-left: 2rem;
	padding-right: 1rem;
}
ul li {
    display: inline;
    padding: 0px 1rem;
}
.mobile-menu {
    display: none;
}
.main-banner {
    background-color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 1.5rem 5rem;
    display: inline-block;
    margin-top: 10rem;
    margin-right: -2rem;
    line-height: 1.2rem;
}
.services {
	display: flex;
	justify-content: center;
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 3rem;
    width: 5rem;
    height: 8rem;
}
.service img {
    width: 5rem;
    margin-bottom: 1rem;
}
.service .paper{
	width: 3.5rem;
}
.philosophy-appointment {
	display: flex;
	justify-content: center;	
}
.info {
	width: 35%;
	margin-right: 5%;
	margin-bottom: 5rem;
}
.title {
	background-color: #5F9EA0;
	color: white;
	width: 10rem; 
	padding: 0.5rem 1.25rem;
}
footer {
	background-color: #f0ffff;
	display: flex;
    align-items: center;
    padding: 4rem 2rem;
    font-weight: bold;
    font-size: 1rem;
}
footer img {
	height: 1.5rem;
	margin-left: 2rem;
    margin-right: 1rem;
}
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen  
  and (max-width: -width: 768px)  {
  	nav .container {
		max-width: 100%;
	}
	header {
    	height: 22rem;	
    	padding-top: 0px;
	}
	.main-banner {
    	padding: 0.75rem 4rem;
    	margin-top: 5rem;
    	margin-right: 2rem;
	}
	.main-banner h1 {
		font-size: 1.33rem;
	}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-width: 375px) { 
  	nav .container {
		max-width: 100%;
	}
	header {
    	height: 17rem;
    	padding-top: 0px;
    	background-position: 20%;
	}
	nav div span {
		display: none;
	}
	.menu ul {
		display: none;
	}
	.menu ul.mobile-menu{
		display: block;
	}
	.main-banner {
    	padding-top: 1rem;
    	padding-bottom: 1rem;
    	margin: 9rem auto 0 auto;
    	width: 100%;
    	text-align: center;
	}
	.main-banner h1 {
		font-size: 1rem;
	}
.services {
	flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.77rem;
	}
 .service {
    height: auto;
    margin: .77rem;
    font-size: .77rem;
	}
.philosophy-appointment {
	flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3.77rem;
	}
.info {
	width: auto;	
	}
.info .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
	}
.info p {
    padding: 1rem;
    font-size: .77rem;
	}
footer {
	justify-content: center;
}
footer span {
	display: none;
	}
}
